#=============================================
#   N8N Environment Variables
#=============================================
N8N_IMAGE=""
GENERIC_TIMEZONE="EST"
N8N_HOST="localhost"
N8N_PORT="5678"
N8N_PROTOCOL="http"

# Owner account setup
N8N_OWNER_EMAIL="admin@example.com"
N8N_OWNER_FIRST_NAME="Admin"
N8N_OWNER_LAST_NAME="User"
N8N_OWNER_PASSWORD=""

WEBHOOK_URL=""
#=============================================
#   Open-WebUI Environment Variables
#=============================================
WEBUI_IMAGE=""
WEBUI_PORT="3000"
WEBUI_ADMIN_EMAIL="admin@example.com"
WEBUI_ADMIN_NAME="Admin User"  # Optional, defaults if not set
WEBUI_ADMIN_PASSWORD=""

ENABLE_PERSISTENT_CONFIG="false"
ENABLE_FOLLOW_UP_GENERATION="false"
ENABLE_TAGS_GENERATION="false"
ENABLE_TITLE_GENERATION="false"
#=============================================
#   Postgres Environment Variables
#=============================================
#Setup connection to postgres
POSTGRES_HOST="postgres"
POSTGRES_PORT="5432"
POSTGRES_USER="myuser"
POSTGRES_PASSWORD=""
N8N_DB="mydatabase"
POSTGRES_DB_TYPE="postgresdb"
POSTGRES_SSL="disable"
OPENWEB_DB="your_database_here"
POSTGRES_DB="postgres"