#=============================================
#   N8N Environment Variables
#=============================================
N8N_IMAGE=""
GENERIC_TIMEZONE="EST"
N8N_HOST="localhost"
N8N_PORT="5678"
N8N_PROTOCOL="http"

# Owner account setup
N8N_OWNER_EMAIL="admin@example.com"
N8N_OWNER_FIRST_NAME="Admin"
N8N_OWNER_LAST_NAME="User"
N8N_OWNER_PASSWORD=""


N8N_ENCRYPTION_KEY=""
WEBHOOK_URL=""

ANTHROPIC_SECRET=your_secret_here

SUPABASE_HOST=your_host_here
SUPABASE_PORT=your_port_here
SUPABASE_USER=your_user_here
SUPABASE_PASSWORD=your_password_here

SUPABASE_URL=https://your_link.supabase.co
SUPABASE_SERCRET=your_secret_here

GOOGLE_CLIENT_ID=your_client_id_here
GOOGLE_CLIENT_SECRET=your_client_secret_here
#=============================================
#   Open-WebUI Environment Variables
#=============================================
WEBUI_SECRET_KEY=""
WEBUI_IMAGE=""
WEBUI_PORT="3000"
WEBUI_NAME="Nick's AI"
WEBUI_ADMIN_EMAIL="admin@example.com"
WEBUI_ADMIN_NAME="Admin User"  # Optional, defaults if not set
WEBUI_ADMIN_PASSWORD=""

ENABLE_PERSISTENT_CONFIG="false"
ENABLE_FOLLOW_UP_GENERATION="false"
ENABLE_TAGS_GENERATION="false"
ENABLE_TITLE_GENERATION="false"
#=============================================
#   Postgres Environment Variables
#=============================================
#Setup connection to postgres
POSTGRES_HOST="postgres"
POSTGRES_PORT="5432"
POSTGRES_USER="myuser"
POSTGRES_PASSWORD=""
N8N_DB="mydatabase"
POSTGRES_DB_TYPE="postgresdb"
POSTGRES_SSL="disable"
OPENWEB_DB="your_database_here"
POSTGRES_DB="postgres"